/*begin gray background color*/
.gray {
    background-color: #dfdfdf;
}
/*end gray background color*/

/*begin button styling*/
.btn-sp {
    margin: 3% 0%;
}
/*end button styling*/

/*begin footer styling*/
footer {
    background-color: #000;
    color: #fff !important;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    padding: 2% 0%;
}
/*end footer styling*/